<button ion-item (click)="onClickItem(expense)">



  <ion-avatar item-left *ngIf="expense.Photo">
    <img [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image/jpg;base64, ' + expense.Photo)">
  </ion-avatar>

  <ion-avatar item-left  *ngIf="!expense.Photo" class="avatar-letter-container" [style.background]="bg">
    <div class="avatar-letter">{{expense.Description[0]}}</div>
  </ion-avatar>

  <h2>{{expense.Amount | currency:currency:true}}</h2>
  <h5>{{expense.Description}}</h5>
  <ion-note item-right>
    <div class="date" text-right>
      {{expense.Date | shortdate }}
    </div>
    <div class="type" text-right>
      {{expense.Type }}
    </div>
  </ion-note>
</button>
