<!--
  Generated template for the List page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>My Expense</ion-title>
    <ion-buttons end>
      <button (click)="onSaveClicked()" ion-button icon-only color="royal" [hidden]="!isInEditMode">
        <ion-icon name="checkmark"></ion-icon>
      </button>
      <button (click)="onSaveClicked()" ion-button icon-only color="royal" [hidden]="isInEditMode">
        <ion-icon name="compose"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content *ngIf="!loading">
  <ion-list inset class="expense-editor" *ngIf="isInEditMode">
    <ion-item>
      <ion-label floating>Amount</ion-label>
      <ion-input type="number" [(ngModel)]="expense.Amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text" [(ngModel)]="expense.Description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Location</ion-label>
      <ion-input type="text" [(ngModel)]="expense.Location"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Category</ion-label>
      <ion-input type="text" [(ngModel)]="expense.Type"></ion-input>
    </ion-item>
    <ion-item no-padding class="not-floating">
      <ion-label>Use Current Date</ion-label>
      <ion-toggle checked="true" [(ngModel)]="useCurrentDate"></ion-toggle>
    </ion-item>
    <ion-item no-padding class="not-floating" [hidden]="useCurrentDate">
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY h mm A" pickerFormat="DD MMM YYYY h mm A" [(ngModel)]="expense.Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-icon name="arrow-dropdown-circle" item-right class="category-selector" (click)="onSelectCategoriesClicked()"></ion-icon>
    </ion-item>
    <ion-item hidden>
      <ion-select class="userCategorySelector" (ionChange)="onChangeSelectCategories()" [(ngModel)]="selectedType" #userCategorySelector>
        <ion-option *ngFor="let cat of expenseCategories">{{cat}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="!isInEditMode">
    <ion-card-header class="expense-card-header">
        <ion-row no-padding>
          <ion-col no-padding>
            <ion-card-title>
              {{expense.Amount | currency:currency:true}}
            </ion-card-title>
          </ion-col>
          <ion-col>
            <ion-note item-right>
              <div class="date" text-right>{{expense.Date | shortdate }}</div>
              <div class="type" text-right>{{expense.Type }}</div>
            </ion-note>
          </ion-col>
        </ion-row>
    </ion-card-header>

    <ion-card-content>
      <p>
        {{expense.Description}}
      </p>
      <img margin-top src="assets/images/testimage.png"/>
      <ion-row>
        <ion-col text-right no-padding>
          <button ion-button margin-top item-right (click)="onEditClicked()">
            edit expense
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>



</ion-content>
