.expense-editor{
  margin-top: 0px !important;
  .category-selector{
    padding: 10px !important;
    height: inherit !important;
    cursor: pointer;
  }
  ion-item.not-floating{
    margin-top: 28px !important;
  }
  .userCategorySelector{
    display: none;
  }
}
